body{
  color: white;
  background-color:  white;
  text-align: center;
  margin: auto;
}

.container{
  background-image: linear-gradient(to bottom,#00bbff, #040440);
  border: 3px solid #303030;
  padding-top: 10px;
  padding-bottom: 20px;
}

fieldset#reg{
  background-image: linear-gradient(to bottom,#14f689, #5f5fd2);
  color: white;
  border-style: none;
  border-radius: 7px;
  width: 500px;
}

.container#login {
  background-image: linear-gradient(to bottom,#00bbff, #040440);
  border: 3px solid #303030;
  padding-top: 10px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.formulario{
  position: relative;
  width: 400px;
  background-image: linear-gradient(to bottom,#14f689, #5f5fd2);
  border-radius: 10px;
}
.formulario h1{
  text-align: center;
  color:white;
  padding:0 0 20px 0;
  border-bottom: 1px solid black;
}
.formulario form{
  padding:0 40px ;
  box-sizing: border-box;
}

form .username{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin:30px 0;
}

.username input{
  width: 100%;
  padding:0 5px;
  height:40px;
  font-size: 16px;
  color: #6C3483;
  border:none;
  background: none;
  outline:none;
}
.username label{
  position: absolute;
  top:50%;
  left:5px;
  color:white; 
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events:none;
  transition: .5s;
}
.username span::before{
  content: '';
  position: absolute;
  top:40px;
  left:0;
  width: 0;
  height: 2px;
  background:#006f1c;
  transition: .5s;
}
.username input:focus ~ label,
.username input:focus ~ label{
  top: -5px;
  color:black;
}
.username input:focus ~ span::before,
.username input:focus ~ span::before{
  width: 100%;
}
.formulario input[type="submit"]{
  width:250px;
  height: 50px;
  border: 1px solid;
  background: #3276dd;
  border-radius: 15px;
  font-size: 18px;
  color:white;
  cursor: pointer;
  outline:none;
}
.formulario input[type="submit"]:hover{
border-color: rgb(86, 246, 193);
transition: .5s;
}
.registrarse{
  margin:20px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}
.registrarse a{
 
  color: rgb(86, 246, 193);
  text-decoration: none;
}

.registrarse a:hover{
  text-decoration: underline;
}

button{
  background-color: #007bff;
  color:#ffffff;
  padding:10px 20px;
  border-radius:5px;
}

img{
width :50px; 
height :50px; 
border :5px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

tbody td {
  text-align: center;
}

table {
  background-color:darkkhaki;
}

footer{
	clear: both;
	padding: 20px;
	background-color: #303030;
	color: white;
	text-align: right;
}

#icono{
  width: 50px;
  height: 50px;
}

.item{
  padding-top: 15px;
  box-shadow:0px 14px 28px rgb(65, 255, 245);
  transition: all .3s ease-in-out;
  color:white;
  text-decoration: none;
}

.item:hover{
  transform:scale(1.05);
}

div.texto{
  text-align: center;
}

.header {
  background-color: #eec565;
  color:#303030;
  border: 3px solid #303030;
  border-bottom: none;
  padding:2rem 0;

}
.header a{
  color:#303030;
  text-decoration:none;
}

.logo{
  letter-spacing: 5px;
  font-size: 3.5em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 20px;
  max-width: 100%;
  max-height: 100%;
}

.logo-nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.navigation ul {
margin: 0;
padding: 0;
list-style: none;
}
.navigation ul li{
display:inline-block;
}
.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.navigation ul li a:hover{
  background: #ffdf93;
}

.login{
  text-align: right;
  margin-right: 25px;
}

.productos{
  border-radius: .5rem;
  border: .1rem solid #303030;
  box-shadow: 0 .5rem 1rem white;
  margin: 1.5rem;
  padding: 3rem 2rem;
}

#img_exp{
  width:300px;
  max-width: 100%;
  max-height: 100%;
}

.ticket{
  background-color: white;
  color: #303030;
  border-radius: .5rem;
  border: .1rem solid #303030;
  box-shadow: 0 .5rem 1rem black;
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
}

#logotipo{
  width:580px;
  height:480px;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1%;
}

#imgVistaProducto{
  width: fit-content;
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
}

#link{
  color:white;
  text-decoration: none;
}

.auxgestor{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card{
  width: 90%;
  height :90%; 
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  color: black;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition:all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform:translateY(-3%)
}
.card .contenido{
  padding: 15px;
  text-align: center;
}
.card .contenido p{
  line-height: 1.5;
  color: #6a6a6a;
}
.card .contenido h3{
  font-weight: 400;
  margin-bottom: 15px;
}
.card .contenido a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}
.card .contenido a:hover{
background: #2fb4cc;
color: #fff;
}

.card img{
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}

.lista-datos {
  list-style-type: square;
  margin: 0;
  padding: 0;
}

.dato {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.dato-titulo {
  font-weight: bold;
  margin-left: 10px;
}

.dato-valor {
  color: #303030;
}

.barra {
  width: 100%;
  height: 20px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
}

.nivel {
  height: 100%;
  width: 100%;
  background-color: green;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
input::placeholder,
input[type="password"],textarea,input[type="number"],input[type="password"]{
  background-color: transparent;
  border: none;
  font-size: 25px;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

legend {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.productoCarrito{
  border: .1rem solid #303030;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.experienciaCarrito{
  border: .1rem solid #303030;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#imgCarrito{
  width:750px;
  height:200px;
  max-width: 100%;
  max-height: 100%;
}

.lista-datos{
  font-size: 20px;
}

#imgExperiencia{
  width: 600px;
  height: 400px;
  max-width: 100%;
  box-shadow:0px 14px 28px rgb(65, 255, 245);
}

.catalogo{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 100%;
  max-height: 100%;
}

.item img{
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}

.modificarProductos li{
  color:white;
  list-style: none;
  text-align: center;
  font-weight:500;
  font-size: large;
  display: inline-block;
 }
 
 .modificarProductos li:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .modificarProductos label {
   font-size: 18px;
   font-weight: bold;
   display: block;
   margin-bottom: 10px;
 }

 .usu{
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight:500;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.usu input{
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 12px;
  padding: 5px;
  background: white;
  cursor: pointer;
}

.usu textarea{
  background: white;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: black;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

 .modificarUsuarios li{
  color:white;
  list-style: none;
  text-align: center;
  font-weight:500;
  font-size: large;
  display: inline-block;
 }
 
 .modificarUsuarios li:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .modificarUsuarioslabel {
   font-size: 18px;
   font-weight: bold;
   display: block;
   margin-bottom: 10px;
 }

.productos{
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight:500;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.productos input{
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 12px;
  padding: 5px;
  background: white;
  cursor: pointer;
}

.productos textarea{
  background: white;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: black;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.insertarProductos{
  color:white;
  list-style: none;
  text-align: center;
  font-weight:500;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.insertarProductos label{
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.insertarProductos input{
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 12px;
  padding: 5px;
  background: white;
  cursor: pointer;
}

.insertarProductos textarea{
  background: white;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: black;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}


.borrar li {
  list-style: none;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  margin-right: 35%;
  margin-left: 35%;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.borrar li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.borrar label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.insertarExp{
  color:white;
  list-style: none;
  text-align: center;
  font-weight:500;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
}

.insertarExp label{
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.insertarExp input{
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 12px;
  padding: 5px;
  background: white;
  cursor: pointer;
}

.insertarExp textarea{
  background: white;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: black;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.modificarExp li{
  color:white;
  list-style: none;
  text-align: center;
  font-weight:500;
  font-size: large;
  display: inline-block;
 }
 
 .modificarExp li:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .modificarExp label {
   font-size: 18px;
   font-weight: bold;
   display: block;
   margin-bottom: 10px;
 }

.exp{
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight:500;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.exp input{
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 12px;
  padding: 5px;
  background: white;
  cursor: pointer;
}

.exp textarea{
  background: white;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: black;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}



#imagen_historial{
  height:200px;
  width: 200px;
  border-radius: 20%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.recuadro-pedido {
  border: 2px solid #333; /* Grosor y color del borde */
  padding: 10px; /* Espacio interno alrededor de la imagen */
  width: 300px; /* Ancho del recuadro */
  height: 400px; /* Altura del recuadro */
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  box-shadow: 0 0 20px rgba(0, 255, 89, 0.5);
  transition: background-color 0.5s ease;
}
.recuadro-pedido:hover{
  background-color: #08c143;
}
#nombre{
  text-decoration: underline;
}

.big_caja{
  border: 3px solid #303030;
  box-shadow:0px 14px 28px rgb(65, 255, 245);
  margin-inline: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.cajatexto{
  text-align: left;
  max-width: 100%;
  max-height: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
.cajafoto{
  text-align: left;
  padding-left: 10%;
  max-width: 100%;
  max-height: 100%;
}

.container#cont_prod{
  align-items: center;
  max-width: 100%;
}

.noticias{
  color: white;
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.noticiaBox{
  border: 3px solid #303030;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

#imgNoticia{
  width:400px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

#icono_noticia{
  width:400px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

#botoncompra{
  background-color: #4CAF50;
  border: 3px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#botoncompra:hover{
  cursor: pointer;
}

.contfelicitaciones{
  border: 3px solid #303030;
  box-shadow:0px 14px 28px rgb(65, 255, 245);
  padding-bottom: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

#imgFelicitaciones{
  width:400px;
  height: 300px;
}

#imgMantenimiento{
  width:500px;
  height: 400px;
}

.contcompra{
  border: 3px solid #303030;
  box-shadow:0px 14px 28px rgb(65, 255, 245);
  padding-bottom: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

.insertarNoticia{
  color:white;
  list-style: none;
  text-align: center;
  font-weight:500;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
}

.insertarNoticia label{
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.insertarNoticia input{
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 12px;
  padding: 5px;
  background: white;
  cursor: pointer;
}

.insertarNoticia textarea{
  background: white;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: black;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.comment-box {
  width: 100%;
  height: 10%;
  background: #fff;
  font-family: sans-serif;
  justify-content: center;
  align-items: center
}

/* Estilos para el nombre de usuario */
.user-name {
  font-weight: bold;
  font-size: 18px;
  color:black;
  text-align: left;
  margin-left: 2%;
  padding-top: 1%;
}

/* Estilos para la fecha de creaci贸n */
.created-at {
  font-style: italic;
  font-size: 0.8em;
  color: #999;
  text-align: right;
  margin-right: 2%;
}

/* Estilos para el bot贸n de respuesta */
.reply-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}

/* Estilos para el bot贸n de respuesta al pasar el rat贸n */
.reply-btn:hover {
  background-color: #f7f7f7;
  border-color: #aaa;
}

#like-btn {
  background-color: blue;
  border: solid white;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.comment-text{
  color:black;
}

.comment-title{
  color:black;
  font-size: 20px;
}

.contador-me-gusta{
  color:black;
}

.nav__link{
  color: #303440;
  padding: 15px 0;
}

.nav__link--inside{
  border-radius: 6px ;
  padding-left: 20px;
  text-align: center;
}

.list__item{
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
}

#header_button{
  border: 2px solid #303030;
}

.list__item--click{
  cursor: pointer;
}

.list__show{
  width: 100%;
  transition: height .4s;
  height: 0;
  text-align: center;
}

.container_foro{
  background-image: linear-gradient(to bottom,#00bbff, #040440);  
}
.container_respuesta{
  max-width: 80%;
  margin-left: 10%;
}

.comment-box{
  max-width: 90%;
  margin-left: 5%;
  border-radius: 20px;
  padding-bottom: 2%;
}

.conversacion{
  border: 3px solid #eec565;
  border-radius: 40px;
  background-color: #eec565;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 2%;
}

.form_respuesta{
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: blue;
}

#aux_padbot{
  margin-bottom: 2%;
}
